<header class="site-header">

  <div class="wrapper">

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a id="header-home" class="blog-nav-item" href="{{ site.baseurl }}/"><i class="fa fa-keyboard-o"></i> Home</a>
          <a id="header-about" class="blog-nav-item" href="{{ site.baseurl }}/about/">About</a>
          <a id="header-content" class="blog-nav-item" href="{{ site.baseurl }}/toc/">Content</a>          
        </nav>
      </div>
    </div>
        
        
  </div>

</header>
