<div id="sidebar">
  
  <div class="sidebar-module">
    <img src="/assets/images/tonk.png" width="215px"></img>
  </div>
  
  <div class="sidebar-module">
    <h4>Social</h4>
    <ol class="list-unstyled">      
      <li><a class="btn" href="https://github.com/melnikovdv/"><i class="fa fa-github fa-1x"></i>&nbsp;Github</a></li>            
      <li><a class="btn" href="https://www.linkedin.com/profile/view?id=141684871/"><i class="fa fa-linkedin fa-1x"></i>&nbsp;LinkedIn</a></li>      
      <li><a class="btn" href="https://www.facebook.com/melnikovdv/"><i class="fa fa-facebook fa-1x"></i>&nbsp;Facebook</a></li>
      <li><a class="btn" href="https://twitter.com/solvadore/"><i class="fa fa-twitter fa-1x"></i>&nbsp;Twitter</a></li>
      <li><a class="btn" href="https://instagram.com/solvadore/"><i class="fa fa-instagram fa-1x"></i>&nbsp;Instagram</a></li>
    </ol>
  </div>

  <div class="sidebar-module">
    <h4 class="rss-subscribe">Subscribe</h4>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="btn"><i class="fa fa-rss fa-1x"></i>&nbsp;RSS</a>
  </div>

  <div class="sidebar-module sidebar-module-inset">
    <div class="inline-block">
      <h4>Dev humour</h4>
    </div>
    <div class="refresh-joke">
      <a onclick="showJoke();"><i class="fa fa-refresh"></i></a>
    </div>
    <p id="p-joke"></p>
  </div>

</div>